:root {
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);

    --gray:hsl(0, 0%, 75%);
    --grayish-violet:hsl(257, 7%, 63%);
    --very-dark-blue:hsl(255, 11%, 22%);
    --very-dark-violet:hsl(260, 8%, 14%);

  }
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.d-flex{
    display: flex;
}
.s-16{
    font-size: 16px;
}
.s-18{
    font-size: 18px;
}
.s-36{
    font-size: 36px;
}
.s-48{
    font-size: 48px;
}
.s-56{
    font-size: 56px;
}
.action-btn{
    background-color: var(--cyan);
    border-color: var(--cyan);
    color: white;
    padding: 4px 12px;
}
.round-btn{
    border-radius: 48px;
}
section.landing{
    padding: 3% 6%;
}
section.landing nav{
    justify-content: space-between;
}
section.landing nav ul{
    list-style: none;
}
.landing li a{
    text-decoration: none;
    color: var(--grayish-violet);
}
.landing li{
    padding: 0 8px;
}
.landing .landing-content{
    padding: 8% 0;
    
}
.landing-content .landing-left{
    max-width: 50%;
}
.landing-content .landing-right{
    max-width: 50%;
    height: 100%;
    padding-left: 10%;;
}
.landing-content .landing-right img {
    width: 90%;
}