:root {
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);

    --gray:hsl(0, 0%, 75%);
    --grayish-violet:hsl(257, 7%, 63%);
    --very-dark-blue:hsl(255, 11%, 22%);
    --very-dark-violet:hsl(260, 8%, 14%);

  }
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.d-flex{
    display: flex;
}
section.landing{
    padding: 3% 6%;
}
section.landing nav{
    justify-content: space-between;
}
section.landing nav ul{
    list-style: none;
}